<a href="https://colab.research.google.com/github/Rishabh7406/tut-codes/blob/main/-2)%20notebooks/Data_Cleaning_%26_Manipulation_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Install Pandas (if not already installed)
!pip install pandas  # Not needed in Google Colab

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
# Importing necessary libraries
import pandas as pd

In [3]:
# Sample dataset creation
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, 30, 35, None, 29],  # Added a missing value
    'Salary': [50000, 60000, 70000, 80000, None]  # Another missing value
}
df = pd.DataFrame(data)

In [12]:
df.head()

      Name   Age   Salary
0    Alice  25.0  50000.0
1      Bob  30.0  60000.0
2  Charlie  35.0  70000.0
3    David   NaN  80000.0
4      Eve  29.0      NaN

In [4]:
# Shape of DataFrame
print("Shape of DataFrame:", df.shape)  # (rows, columns)

Shape of DataFrame: (5, 3)

In [5]:
# 5. Unique Value Counts (Example on 'Age')
df['Age'].value_counts()

Age
25.0    1
30.0    1
35.0    1
29.0    1
Name: count, dtype: int64

In [6]:
# 6. Handling Missing Values
print("\nMissing Values Before Cleaning:")
print(df.isnull().sum())  # Check missing values

Missing Values Before Cleaning:
Name      0
Age       1
Salary    1
dtype: int64

In [7]:

df_filled = df.fillna(df.mean(numeric_only=True))  # Fill missing values with column mean
print("\nMissing Values After Cleaning:")
print(df_filled.isnull().sum())

Missing Values After Cleaning:
Name      0
Age       0
Salary    0
dtype: int64

In [8]:
# 7. Filtering Data
filtered_df = df[df['Age'] > 30]  # Select rows where Age > 30
print("\nFiltered Data:")
print(filtered_df)

Filtered Data:
      Name   Age   Salary
2  Charlie  35.0  70000.0

In [9]:
# 8. Grouping & Aggregation
print("\nGrouped Data (Average Salary by Age):")
print(df.groupby('Age')['Salary'].mean())  # Average Salary by Age

Grouped Data (Average Salary by Age):
Age
25.0    50000.0
29.0        NaN
30.0    60000.0
35.0    70000.0
Name: Salary, dtype: float64

In [10]:
# 9. Merging DataFrames
extra_data = pd.DataFrame({
    'Name': ['Alice', 'Charlie'],
    'Department': ['HR', 'Engineering']
})

In [11]:
merged_df = pd.merge(df, extra_data, on='Name', how='left')  # Merge on 'Name'
print("\nMerged DataFrame:")
print(merged_df)

Merged DataFrame:
      Name   Age   Salary   Department
0    Alice  25.0  50000.0           HR
1      Bob  30.0  60000.0          NaN
2  Charlie  35.0  70000.0  Engineering
3    David   NaN  80000.0          NaN
4      Eve  29.0      NaN          NaN