<a href="https://colab.research.google.com/github/Rishabh7406/tut-codes/blob/main/-2)%20notebooks/pandas_series_df_tut.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# Install Pandas (if not already installed)
!pip install pandas numpy  # Not needed in Google Colab

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [11]:
# Importing necessary libraries
import pandas as pd
import numpy as np

### Creating a Pandas Series ###

In [12]:
# 1. From a List
data = [10, 20, 30, 40]
s1 = pd.Series(data)
print("Series from List:")
print(s1)

Series from List:
0    10
1    20
2    30
3    40
dtype: int64

In [13]:
# 2. From a NumPy Array
arr = np.array([1, 2, 3, 4])
s2 = pd.Series(arr)
print("\nSeries from NumPy Array:")
print(s2)

Series from NumPy Array:
0    1
1    2
2    3
3    4
dtype: int64

In [14]:

# 3. From a Dictionary
data_dict = {'a': 100, 'b': 200, 'c': 300}
s3 = pd.Series(data_dict)
print("\nSeries from Dictionary:")
print(s3)

Series from Dictionary:
a    100
b    200
c    300
dtype: int64

### Creating a Pandas DataFrame ###

In [15]:

# 1. From a Dictionary
data_dict_df = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df1 = pd.DataFrame(data_dict_df)
print("\nDataFrame from Dictionary:")
print(df1)

DataFrame from Dictionary:
    Name  Age
0  Alice   25
1    Bob   30

In [16]:
# 2. From a List of Lists
data_list = [['Alice', 25], ['Bob', 30]]
df2 = pd.DataFrame(data_list, columns=['Name', 'Age'])
print("\nDataFrame from List of Lists:")
print(df2)

DataFrame from List of Lists:
    Name  Age
0  Alice   25
1    Bob   30

In [17]:
# 3. From a NumPy Array
arr_2d = np.array([[1, 2], [3, 4]])
df3 = pd.DataFrame(arr_2d, columns=['A', 'B'])
print("\nDataFrame from NumPy Array:")
print(df3)

DataFrame from NumPy Array:
   A  B
0  1  2
1  3  4

In [18]:
# Class Task: Create a DataFrame from a dictionary with custom column names!